# Node
node_modules/
npm-debug.log*
pnpm-debug.log*

# Environment
.env

# Build
dist/
build/
# Arquivos temporários do Prisma
prisma/*.db-journal

# Documentação local e collections de API
docs/

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db
